@use '../partials/colors' as c;

.node-circle {
  fill: c.$red;
  stroke: none;
  &.complete {
    fill: c.$green;
  }
}

.node-name {
  color: white;
  fill: white;
  stroke: none;
}

// specifity needed to ensure the color change
.rd3t-link.tree-link {
  stroke: c.$red;
  &.complete {
    stroke: c.$green;
  }
}

.tree-node-text {
  max-height: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
}
