.overview-container {
  padding: 1em 2em;
  border-bottom: 1px solid black;
}

.overview-top-container {
  display: flex;
  > button {
    margin-left: auto;
  }
}

.current-container {
  display: flex;
  align-items: center;
}

.arrows-container {
  > * {
    display: block;
    height: auto;
  }

  height: 100%;
}

.layer-index {
  margin-left: auto;
}
