.overview-container {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 100%;
  max-width: 1600px;
  padding: 1em 3vw;
  border-bottom: 1px solid black;
}

.overview-top-container {
  display: flex;
  > button {
    margin-left: auto;
  }
}

.current-container {
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.nodes-wrapper {
  display: flex;
  gap: 0.5em;
  // TODO: change to overflow hidden and add arrow scrolling
  overflow-x: auto;
  white-space: nowrap;
  > a {
    flex: 0 0 auto;
  }
}

.arrows-container {
  flex: none;
  > * {
    display: block;
    height: auto;
  }

  height: 100%;
}

.layer-index {
  margin-left: auto;
}
