@use '../partials/colors' as c;

.navbar {
  display: flex;
  background: linear-gradient(c.$bg, c.$bg-light);
  color: c.$text;
  padding: 1em 1em;
}

.navigation {
  margin-left: 1em;
}

.actions {
  margin-left: auto;
}
