@use './TreeNode';

.node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: TreeNode.$box-bgcolor;
  color: TreeNode.$box-color;
  border-radius: 20px;
  text-decoration: none;

  &.goal-node {
    width: 200px;
    height: min(80%, 80px);
  }
  &.task-node {
    width: min(80%, 80px);
    height: min(80%, 80px);
  }
}
