@use './TreeNode';

.node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: TreeNode.$box-bgcolor;
  color: TreeNode.$box-color;
  border-radius: 20px;
  text-decoration: none;

  &.first-node {
    width: 200px;
    height: min(80%, 80px);
  }
  &.child-node {
    width: min(80%, 80px);
    height: min(80%, 80px);
  }

  .inner-link {
    color: inherit;
  }
}

.tree-line-svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
  z-index: -1;
}

.tree-line {
  stroke: TreeNode.$box-bgcolor;
  stroke-width: 2;
}
