@use '../partials/colors' as c;
@use '../partials/breakpoints' as b;

.unauthenticated-container {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }

  .getstarted-header {
    margin-top: 1.5rem;
  }

  > p {
    max-width: 900px;
  }
}

.unauthenticated-getstarted {
  .getstarted-option-wrapper {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: b.$sm) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
    .getstarted-option-wrapper {
      margin-bottom: 0;
    }
  }
}

.getstarted-option-wrapper {
  flex: 0 0 auto;
  width: 250px;
  border-radius: 1rem;
  background-color: c.$bg-light;
  overflow: hidden;
}

.getstarted-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: inherit;
  color: inherit;
  text-align: left;
  cursor: pointer;

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  > svg {
    align-self: end;
  }

  &:hover > svg {
    animation: 1.3s ease-in-out 0s infinite thisWaySir;
  }
}

.unauthenticated-demo-link {
  text-decoration: none;
}

.unauthenticated-description {
  text-align: center;
}

@keyframes thisWaySir {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }
}
