@use '../partials/colors' as c;

.unauthenticated-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
}

.unauthenticated-getstarted {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;

  .getstarted-option-wrapper {
    flex: 0 0 auto;
    width: 250px;
    border-radius: 1rem;
    background-color: c.$bg-light;
    overflow: hidden;
  }

  .getstarted-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: inherit;
    color: inherit;
    text-align: left;
    cursor: pointer;

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    h4 {
      font-size: 1.15rem;
    }

    > svg {
      align-self: end;
    }

    &:hover > svg {
      animation: 1.3s ease-in-out 0s infinite thisWaySir;
    }
  }
}

.unauthenticated-demo-link {
  text-decoration: none;
}

.unauthenticated-description {
  text-align: center;
}

@keyframes thisWaySir {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }
}
