@use 'partials/colors' as c;

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: c.$bg;
  color: c.$text;
  a,
  .transparent-text-transition {
    transition: color 0.2s ease-out;
    color: rgba(c.$primary-light, 1);
    &:hover {
      color: rgba(c.$primary-light, 0.9);
    }
    &:active {
      color: rgba(c.$primary-light, 0.8);
    }
  }
}

.app-content-wrapper {
  flex: 1 0 0;
}
