@use 'partials/colors' as c;

.App {
  background-color: c.$bg;
  color: c.$text;
  a {
    color: c.$primary-light;
    &:hover {
      opacity: 90%;
    }
    &:active {
      opacity: 80%;
    }
  }
}
