@use 'partials/colors' as c;

.App {
  background-color: c.$bg;
  color: c.$text;
  a {
    color: rgba(c.$primary-light, 1);
    &:hover {
      color: rgba(c.$primary-light, 0.9);
    }
    &:active {
      color: rgba(c.$primary-light, 0.8);
    }
  }
}
